/bin
.settings/
screenshots/
logfiles/
roboviz.bat
*.TMP
*.java-*
*.class

#Intelij
*.iml
.idea/
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/dictionaries
.idea/libraries

#gradle
.gradle/
build/

#Subprojects
/jsgl/bin
/jsgl/build
